h1 {
    color: #413f3f;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 100; */
    font-size: larger;
}

.h {
    color: #413f3f;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 100; */
    font-size: large;
}

.head {
    color: #434242;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

h5 {
    color: #434242;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 1;
}

ul {
    color: #767171;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    letter-spacing: 0.5px;
}

p{
    color: #767171;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    letter-spacing: 0.5px;
}

.para {
    text-align: center;
}

.firstimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-button {
    text-align: center;
} 
button {
    border: none;
    color: white;
    background-color: rgb(48, 109, 200);
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 4%;
    font-size: 13px;
}
button:hover {
    background-color : black;
}

.secondimg {
    object-fit: cover;
    width: 270px;
    height: 220px;
    margin-top: 15px;
}

.thirdimg {
    width: 330px;
    height: 80px;
    position: absolute;
    right: 100px;
}

.fourimg {
    width: 350px;
    height: 350px;
    position: absolute;
    right: 100px;
    object-fit: cover;
}

.fiveimg {
    object-fit: cover;
    padding-left: 20px;
    width: 250px;
    height: 210px;
    position: absolute;
    left: 60px;
}

.flex-container {
    display: flex;
    margin: 50px 70px;
}

.flex1container {
        display: flex;
        margin: 50px 100px;
}

.box1 {
    flex: 1;
}

.box2 {
    flex: 1;
    box-sizing: border-box;
}

.box {
    text-align: left;
    flex: 1;
    padding-right: 150px;
}

.box3 {
    flex: 1;
    text-align: right;
}

.box4 {
    flex: 1;
}

.box5 {
    display: flex;
    margin: 20px;
    flex: 1;
}

.b {
    flex: 1;
    text-align: center;
    border: 0.5px solid #767171;
    padding: 3px 10px;
}

.b1 {
    flex: 1;
}

.link {
    color: #4183ce;
    text-decoration: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.link:hover {
    color : black;
}



h1 {
    color: #000;
}

p{
    color: #2f2e2e;
}
.navbar-brand{
    text-decoration: none;
    
    color: blue;
}
.self-center{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

div [aria-current="page"]{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: rgb(88, 84, 84);
    margin-right: 50px;
}

.flex{
    margin-left:100px;
    margin-right: 50px;
}
.handles{
    display: inline-block;
}
.nav-head{
    /* display: list-item; */
    display: inline-block;
    padding-left: 20px;
    padding-top: 40px;
}
/* footer ul{
    list-style-type: none;
}
ul{
    list-style-position: inside;
}
li{
    text-align: -webkit-match-parent;
} */
footer .main-footer li a{
    color: #666;
}
#footer{
    bottom: 50px;
    color: #666;
}
.blue{
    color: blue;
}
/* .footer-col{
    display: inline-block;
    
} */
.columns{
    /* border-bottom: 100px; */
    display: inline-block;
    padding-left: 150px;
    margin: 10px;
    border-color: #666;
}
/* .comp{
    font-weight: 300px;
} */
#line{
    display:list-item;
    
}
#line:hover{
    color: blue;
}
/* .container{
    display: inline-block;
} */
.nav-head{
    font-size: large;
}
#line{
    font-size: medium;
}
/* #footer{
    bottom: 50px;
} */
.text-grey{
    font-size: medium;
}
#lone:hover{
    color: blue;
}
#g:hover{
    color: blue;
    font-size: larger;
}
.footer-grave{
    font-size: large;
    
}
#g{
    display: inline-block;
}
.include{
    display: inline-block;
}